<div class="new_calendar">
<%= form_for @calendar do |f| %>
  <%= f.label :title, "Name Your Calendar!", class: "name_calendar" %>
  <div class="submit"><%= f.text_field :title %></div>

  <div class="submit"><%= f.submit %></div>
<% end %>
</div>